ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

.left {
	float:left
}

.right {
	float:right
}

#content {
	margin: 25px 0 0 25px;
	float:clear
}

.clear-fix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

form.open-id-provider {
	float:left;
}
.sub-content {
	padding-top:1em;
}

.item {
	float:left;
	margin: 6px;
	cursor: move;
}

<!--[if IE 6]>
.clear-fix {
    zoom: 1;
}
<![endif]-->
