ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

.left {
	float:left
}

.right {
	float:right
}

#content {
	margin: 25px 0 0 25px;
	float:clear
}

.clear-fix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

form.open-id-provider {
	float:left;
}
.sub-content {
	padding-top:1em;
}

.item {
	width:200px;
	height:200px;
	float:left;
	margin: 6px;
	cursor: move;
	border:4px solid white;
}

.insert-marker {
	margin: 6px 3px 6px 3px;
	background:black;
	width:6px;
	height:200px;
	border:4px solid white;
}

.ui-selected {
	border:4px dotted orange;
}

.item img {
	width:200px;
	height:200px;
}

.status {
	position:absolute;
	right:10px;
	top:12px;
	width:48px;
	height:48px;
	background:url(/assets/23_full_trash.png) 0 0 no-repeat;
	cursor:pointer;
}

.saving {
	position:absolute;
	right:10px;
	top:12px;
	width:100px;
	height:48px;
	color:orange;
	background:url(/assets/floppy.png) 59px 0 no-repeat;
	font-size:1.5em;
	cursor:pointer;
}

<!--[if IE 6]>
.clear-fix {
    zoom: 1;
}
<![endif]-->
